@font-face {
    font-family: Arizonia;
    src: url(fonts/Arizonia-Regular.ttf);
}
@font-face {
    font-family: Bodoni;
    src: url(fonts/LibreBodoni-Regular.ttf);
}
@keyframes loading {
    from {margin-left: -20%;}
    to {margin-left: 120%;}
}
@keyframes fadeout {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes fadeout {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadein {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadein {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}
input {
    all: initial;
    * {
      all: unset;
    }
}
p {
    all: initial;
    * {
      all: unset;
    }
}
a {
    all: initial;
    * {
      all: unset;
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: #756AB6;
    font-family: Bodoni;
    overflow: hidden;
}
h3 {
    font-family: Arizonia;
    font-size: 100pt;
    color: #3C1371;
    text-align: center;
    margin: 0;
    font-weight: lighter;
}
p{
    font-family: Bodoni;
    color: white;
    font-size: 12pt;
}
.container {
    width: 100dvw;
    height: 100dvh;
    background-image: url(images/backgrounds/background_items.png);
    display: flex;
    justify-content: center;
    align-items: center;
    .loading-screen {
        z-index: 100;
        position: absolute;
        -webkit-animation: fadeout 5s forwards; 
        animation: fadeout 1s forwards;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .p {
            font-family: Bodoni;
            margin: 0;
            color: #3C1371;
            font-weight: 500;
            font-size: 15pt;
        }
        .left {
            text-align: left;
        }
        .right {
            text-align: right;
        }  
        .loading-bar {
            height: 20px;
            width: 60%;
            background-color: rgba(255, 255, 255, 0.514);
            border-radius: 50px;
            margin: 20px;
            display: flex;
            overflow: hidden;
            align-items: center;
            .loading-item {
                height: 12px;
                width: 20%;
                background-color: white;
                border-radius: 50px;
                transition: 1s;
                animation: loading 2s infinite;
            }
        }
    }
    .login-screen {
        position: absolute;
        z-index: 101;
        width: 30dvw;
        height: 85dvh;
        background-color: rgba(255, 255, 255, 0.2);
        animation: fadein 1s forwards;
        border-radius: 50px;
        box-shadow: 0px 0px 11.4px 0px rgba(60, 19, 113, 0.49);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:#3C1371;
        gap: 10px;
        h1 {
            color: white;
            font-family: Bodoni;
            font-size: 54pt;
            font-weight: lighter;
        }
        .login_container {
            color: white;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 68%;
            gap: 10px;
            .form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .input {
                    background-color: white;
                    height: 63px;
                    width: 100%;
                    border-radius: 50px;
                    margin: 10px;
                    color:#3C1371;
                    font-family: Bodoni;
                    box-shadow: 0px 3px 3px 0px rgba(60, 19, 113, 0.49) inset;
                    text-indent: 30px;
                    font-size: 16pt;
                }
                .input:focus {
                    background-color: #F0D5E8;
                }
                label {
                    font-size: 16pt;
                }
            }
            .other-login-container {
                display: flex;
                justify-content: space-around;
                width: 100%;
                .other-login {
                    width: 77px;
                    height: 77px;
                    background-color: white;
                    border-radius: 50px;
                    box-shadow: 0px 3px 3px 0px rgba(60, 19, 113, 0.49) inset;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;
                    .picture {
                        width: 80%;
                        height: auto;
                    }
                }
                .other-login:hover {
                    cursor: pointer;
                    background-color: #F0D5E8;
                }
            }
        }
        .footer {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            p{
                color: #3C1371;
            }
            a {
                color:#3C1371;
                font-family: Bodoni;
                transition: 1s;
            }
            a:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}
